* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: rgba(243, 207, 213, 0.562) !important;

}

.card-title {
    font-weight: bolder;
}

h2 {
    color: rgb(175, 39, 175);
    font-weight: bold !important;
}

main {
    min-height: 62.5vh; 
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.logo {
    width: 90px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    min-height: 10vh;
    position: fixed !important;
    z-index: 100;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.897) !important;
    box-shadow: rgb(38, 57, 77) 0px 10px 30px -10px;
    border-radius: 0px 0px 20px 20px;
    top: 0px;
}


.enlacenav {
    color: rgb(69, 69, 129)!important;
    border-radius: 10px;
    font-size: 12px !important;
}

.enlacenav:hover {
    transition-duration: 350ms;
    color: rgb(82, 7, 82) !important;
}

.homenav {
    background-color: rgb(69, 69, 129);
    color: white !important;
    border: none;
}


.card {
    width: 300px !important;
    height: 400px !important;
}

.card:hover {
    transform: scale(1.03);
    transition-duration: 280ms;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card img {
    width: 100%;
    height: 200px;
}

.boton {
    background-color: rgb(175, 39, 175) !important;
    color: violet !important;
    border: 0 !important;
}

.boton:hover {
    background-color: rgb(69, 69, 129) !important;
    color: white !important;
}

.carousel-item {
    height: 95vh;
}

#primerafotocarou {
    background-size: cover;
    background-image: url(./recursos/img-para-carousel3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
}

#segundafotocarou {
    background-image: url(./recursos/carousel-dj.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
}

#tercerafotocarou {
    background-image: url(./recursos/img-carousel.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
}

.titulo {
    height: 10vh;
    width: 100%;
    border-bottom: 3px solid violet;
    margin-bottom: 16px;
}

footer {
    width: 100%;
    height: 15vh;
    background-color: rgb(69, 69, 129)!important;
    color: white !important;
    box-shadow: rgb(38, 57, 77) 0px 10px 30px -10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logosredessociales {
    width: 55px;
}

.colorboton {
    background-color: rgb(175, 39, 175) !important;
    color: violet !important;    
}

.textofooter {
    font-size: 30px; 
    color: white;
    font-weight: bold;
} 

.redessociales {
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
    gap: 32px;
}

.tamañoform {
    width: 350px;
    border: solid 3px;
    border-color: rgb(175, 39, 175) !important;
}

.formulariomensaje {
    width: 350px;
    height: 60px;
}

table{
    border: solid 2px black;
    width: 150vh;
}

table tbody tr td {
    border: solid 1px black;
}

.tablastr {
    background-color: rgb(175, 39, 175);
}

.segundacategoria {
    background-color: violet !important;
}


.formularioboton {   
    background-color: rgb(175, 39, 175);
    color: violet;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
}

.formularios {
    font-weight: bold;
}

/* <--------------------------------------------DETAILS-------------------------------------------------------------> */

.containercard1 {
    background-color: white !important;
    border-radius: 0px 20px 20px 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 70%;
    display: flex;
    height: 60vh;
    align-items: center;
    justify-items: center;
}

.spanDetails {
    font-weight: bold;
    font-size: 20px;
}

.containercard1 h4 {
    text-align: center;
    color: rgb(175, 39, 175);
    font-weight: bold !important;
}

#containerCardDetails {
    min-height: 85vh; 

}

.maindos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

.imagendetails  {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagendetails img {
    object-fit: cover !important;
    border-radius: 0px 20px 20px 0px;
    box-shadow: rgba(231, 227, 230, 0.4) 5px 5px, rgba(214, 212, 213, 0.3) 10px 10px, rgba(173, 167, 171, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(182, 178, 180, 0.377) 25px 25px;
}

.parrafoytitulo {
    width: 50%;
    margin: 16px;
    font-size: 16px;
}

.tamañoimg {
    width: 425px;
    height: 250px;
    object-fit: cover;
    display: flex;
    margin: 16px;
    border-radius: 25px;
}

.subtitulocards {
    font-weight: bold;
    font-size: 30px !important;
}

@media screen and (max-width: 748px){
    .checkboxmedia {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .logo {
        width: 130px;
    }

    form{
        text-align: center;
        flex-wrap: wrap;
        margin-left: 18px;
    }
    .colorboton {
    margin-right: 32px;
    }
    .card {
        width: 280px;
        height: 280px;
    }
    table {
        width: 70vh;
    }

    .containercard1 {
        border-radius: 10px;
        width: 65%;
        height: 50vh;
    }

    .tamañoimg {
        width: 220px;
        height: 190px;
}
.subtitulocards {
    font-weight: bold;
    font-size: 30px !important;
}
.parrafoytitulo {
    font-size: 16px;
}
}
